* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
  box-sizing: content-box;
}
body {
  background: #190528;
  font-family: Orbitron, Poppins, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  font-family: Orbitron;
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  font-weight: 600;
  line-height: 68px;
  color: white;
}
.header-nav {
  display: flex;
  gap: 40px;
}
.header-nav a {
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  color: white;
  font-weight: 400;
  line-height: 24px;
}
